<%= render 'shared/errors', obj: @category %>
  <%= form_with model: @category do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, id: :category_name %>

    <%= f.submit %>
  <% end %>
</div>
