<h2><%= @category.name %></h2>
  <table>
    <tr>
      <th>
        Name
      </th>
      <th>
        Value
      </th>
      <th>
        Suffix
      </th>
      <th>
        options
      </th>
    </tr>
    <% @category.properties.each do |property| %>
      <tr>
        <td>
          <%= property.name %>
        </td>
        <td>
          <%= property.value %>
        </td>
        <td>
          <%= property.suffix %>
        </td>
        <td>
          <%= link_to 'edit', edit_category_property_path(@category, property) %>
          <%= button_to 'delete', [@category, property], method: :delete,
                                data: { confirm: 'Are you sure you want to delete?' } %>
        </td>
      </tr>
    <% end %>
  </table>
<%= link_to 'New Property', new_category_property_path(@category) %>
